name: Docker CI

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
  push:
    branches: [ "main" ]

concurrency:
  group: "pytorch"
  cancel-in-progress: false

jobs:
  create-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - id: build-matrix
        run: chmod +x main.sh && ./main.sh
    outputs:
      version_matrix: ${{ steps.build-matrix.outputs.version_matrix }}
  run:
    needs: create-matrix
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        version: ${{ fromJson(needs.create-matrix.outputs.version_matrix) }}
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push docker container
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/glibc:${{ matrix.version }}
          docker build --build-arg GLIBC_VERSION=${{ matrix.version }} -t $IMAGE_NAME .
          docker push $IMAGE_NAME
    